/* Styling for variant mode badges */
.simplify-variant-mode {
  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline: var(--spacing-2);
  font-size: 0.9em;
  font-weight: var(--font-normal);

  background: var(--code-inline-color-back);
  border-radius: var(--rounded);
  outline: 1px solid
    light-dark(var(--color-purple-400), var(--color-purple-900));
  outline-offset: -1px;
  line-height: var(--text-line-height) !important;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: light-dark(var(--color-purple-800), var(--color-purple-900));
  background: var(--color-purple-300);
  transition: all 0.2s;

  &::hover {
    opacity: 0.8;
  }
  &.simplify-variant-mode--auto {
    color: light-dark(var(--color-green-800), var(--color-green-900));
    outline-color: light-dark(var(--color-green-500), var(--color-green-900));
    background: var(--color-green-300);
  }
  &.simplify-variant-mode--manual {
    color: light-dark(var(--color-yellow-800), var(--color-yellow-900));
    outline-color: light-dark(var(--color-yellow-500), var(--color-yellow-900));
    background: var(--color-yellow-300);
  }
  &.simplify-variant-mode--off {
    color: light-dark(var(--color-gray-800), var(--color-gray-900));
    outline-color: light-dark(var(--color-gray-500), var(--color-gray-900));
    background: var(--color-gray-300);
  }
}

/* Table header sortable */
.simplify-table-header-sortable {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .k-icon {
    flex-shrink: 0;
  }
}

/* Template labels in pages table */
.simplifyTemplate {
  display: inline-flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-inline: var(--spacing-1);
  font-size: 0.8em;
  font-weight: var(--font-normal);
  font-family: var(--code-font-family);
  background: var(--code-inline-color-back);
  border-radius: var(--rounded);
  outline: 1px solid
    light-dark(var(--color-purple-400), var(--color-purple-900));
  outline-offset: -1px;
  line-height: var(--text-line-height) !important;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: light-dark(var(--color-purple-800), var(--color-purple-900));
  background: var(--color-purple-300);
}

/* Styling for simplify field type category labels */
.simplify-variant-detail-view {
  .k-field-name-opt_out_fieldtypes fieldset span.k-choice-input-label {
    width: 100%;
  }

  /* Styling for simplify template tags */
  .k-field-name-opt_out_templates fieldset span.k-choice-input-label {
    width: 100%;
  }
}

.simplify-pages-tab {
  .k-field-name-opt_out_templates fieldset span.k-choice-input-label {
    width: 100%;
  }
}
